<p id="notice"><%= notice %></p>

<h1 class = "display-4">Photos</h1>
<h6>Photos from users I follow</h6>

<hr>


<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Comments count</th>
      <th>Likes count</th>
      <th>Caption</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <% if photo.owner.followers.include?(current_user) || photo.owner == current_user %>
        <tr>
          <td><%= link_to "Link", photo_path(photo) %></td>
          <td><%= photo.comments_count %></td>
          <td><%= photo.likes_count %></td>
          <td><%= photo.caption %></td>
          <td><%= photo.owner.username %></td>
          <% if photo.owner == current_user %>
            <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
            <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
